In [18]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
df=pd.read_csv('Dataset of Diabetes .csv')
print("#1 To display information of all columns")
print(df.info())
print("#2 To display statistical information of all numerical")
print(df.describe())
print("#3 To display the count of unique labels for “Gender” column")
print(df["Gender"].value_counts())
print("#4 ")
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])
#print(df.isnull().sum()[df.isnull().sum()>0])
print("#5 Null values in each column")
print(df.isnull().sum())
print("#6")
df["AGE"].fillna(df["AGE"].mean())
print(df.head())

print("#7 Which columns in the dataset had missing values? How did you handle them ?")
ddf = df.select_dtypes(include=['category', 'object']).columns.tolist()
print(ddf)

print("#8")


# Initialize encoder
ordinal_encoder = OrdinalEncoder()

# Apply encoding
df[ddf] = ordinal_encoder.fit_transform(df[ddf])
print(df.head())

#1 To display information of all columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB
None
#2 To display statistical information of all numerical
                ID     No_Pation          AGE         Urea           Cr  \
count  1000.000000  1.000000e+03  1000.000000  1000.000000  1000.000000
mean    340.500000  2.705514e+05    53.528000     5.124743    68.943000
std     240.397673  3.380758e+06     8.799241     2.935165    59.984747
min       1.000000  1.230000e+02    20.000000     0.500000     6.000000
25%     125.750000  2.406375e+04    51.000000     3.700000    48.000000
50%     300.500000  3.439550e+04    55.000000     4.600000    60.000000
75%     550.250000  4.538425e+04    59.000000     5.700000    73.000000
max     800.000000  7.543566e+07    79.000000    38.900000   800.000000

             HbA1c         Chol           TG          HDL          LDL  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      8.281160     4.862820     2.349610     1.204750     2.609790
std       2.534003     1.301738     1.401176     0.660414     1.115102
min       0.900000     0.000000     0.300000     0.200000     0.300000
25%       6.500000     4.000000     1.500000     0.900000     1.800000
50%       8.000000     4.800000     2.000000     1.100000     2.500000
75%      10.200000     5.600000     2.900000     1.300000     3.300000
max      16.000000    10.300000    13.800000     9.900000     9.900000

              VLDL          BMI
count  1000.000000  1000.000000
mean      1.854700    29.578020
std       3.663599     4.962388
min       0.100000    19.000000
25%       0.700000    26.000000
50%       0.900000    30.000000
75%       1.500000    33.000000
max      35.000000    47.750000
#3 To display the count of unique labels for “Gender” column
Gender
M    565
F    434
f      1
Name: count, dtype: int64
#4
Series([], dtype: int64)
#5 Null values in each column
ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64
#6
    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N
#7 Which columns in the dataset had missing values? How did you handle them ?
['Gender', 'CLASS']
#8
    ID  No_Pation  Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975     0.0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221     1.0   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975     0.0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656     0.0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223     1.0   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI  CLASS
0  24.0    0.0
1  23.0    0.0
2  24.0    0.0
3  24.0    0.0
4  21.0    0.0

In [17]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
df=pd.read_csv('adult[1].csv')
print("#1 To display information of all columns")
print(df.info())
print("#2 To display statistical information of all numerical")
print(df.describe())
print("#3 To display the count of unique labels for “Gender” column")
print(df["age"].value_counts())
print("#4 ")
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])
#print(df.isnull().sum()[df.isnull().sum()>0])
print("#5 Null values in each column")
print(df.isnull().sum())
print("#6")
df["age"].fillna(df["age"].mean())
print(df.head())

print("#7 Which columns in the dataset had missing values? How did you handle them ?")
ddf = df.select_dtypes(include=['category', 'object']).columns.tolist()
print(ddf)

print("#8")


# Initialize encoder
ordinal_encoder = OrdinalEncoder()

# Apply encoding
df[ddf] = ordinal_encoder.fit_transform(df[ddf])
print(df.head())

#1 To display information of all columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None
#2 To display statistical information of all numerical
                age        fnlwgt  educational-num  capital-gain  \
count  48842.000000  4.884200e+04     48842.000000  48842.000000
mean      38.643585  1.896641e+05        10.078089   1079.067626
std       13.710510  1.056040e+05         2.570973   7452.019058
min       17.000000  1.228500e+04         1.000000      0.000000
25%       28.000000  1.175505e+05         9.000000      0.000000
50%       37.000000  1.781445e+05        10.000000      0.000000
75%       48.000000  2.376420e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  48842.000000    48842.000000
mean      87.502314       40.422382
std      403.004552       12.391444
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000
#3 To display the count of unique labels for “Gender” column
age
36    1348
35    1337
33    1335
23    1329
31    1325
      ...
88       6
85       5
87       3
89       2
86       1
Name: count, Length: 74, dtype: int64
#4
Series([], dtype: int64)
#5 Null values in each column
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64
#6
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K
#7 Which columns in the dataset had missing values? How did you handle them ?
['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country', 'income']
#8
   age  workclass  fnlwgt  education  educational-num  marital-status  \
0   25        4.0  226802        1.0                7             4.0
1   38        4.0   89814       11.0                9             2.0
2   28        2.0  336951        7.0               12             2.0
3   44        4.0  160323       15.0               10             2.0
4   18        0.0  103497       15.0               10             4.0

   occupation  relationship  race  gender  capital-gain  capital-loss  \
0         7.0           3.0   2.0     1.0             0             0
1         5.0           0.0   4.0     1.0             0             0
2        11.0           0.0   4.0     1.0             0             0
3         7.0           0.0   2.0     1.0          7688             0
4         0.0           3.0   4.0     0.0             0             0

   hours-per-week  native-country  income
0              40            39.0     0.0
1              50            39.0     0.0
2              40            39.0     1.0
3              40            39.0     1.0
4              30            39.0     0.0